<template id = "templateContent">
	<label class = "Appearance">Register
		<form name = "frmLogin" action = "login.php" method = "post">						
			<div><input type="text" class = "Text" id = "txtEmail" value = "Email" onfocus = "hS(this.id, 'Email');" onblur = "hS(this.id, 'Email');"/></div>
			<div><input type="text" class = "Text" id = "txtUser" value = "Username" onfocus = "hS(this.id, 'Username');" onblur = "hS(this.id, 'Username');"/></div>					
			<div><input type="password" class = "Text" id = "txtPw" value = "Password" onfocus = "hS(this.id, 'Password');" onblur = "hS(this.id, 'Password');"/></div>
			<button onclick = "" class = "button">Register</button>	
		</form>
	</label>
</template>